html, body {
  height: 100%;
  overflow: hidden;
}

#rotate-notice {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  #rotate-notice {
    display: flex;
  }
  #app {
    display: none;
  }
}
